---
http_interactions:
- request:
    method: get
    uri: http://quotes.stormconsultancy.co.uk/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"d6ebe6ccaa6227c93a58e31b8dd259a1"'
    body:
      encoding: ASCII-8BIT
      string: '{"author":"Richard Moore","id":30,"quote":"The difference between theory
        and practice is that in theory, there is no difference between theory and
        practice.","permalink":"http://quotes.stormconsultancy.co.uk/quotes/30"}'
  recorded_at: Mon, 13 Sep 2021 12:44:06 GMT
recorded_with: VCR 6.0.0
